.single-work {
  padding-left: 15%;
  padding-right: 15%;
}
.single-work img {
  height: 200px;
  width: 400px;
}
.title-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
