#projects {
  margin: auto;
  /* min-height: calc(100vh - 4rem); */
  height: 50vh;
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.projectsTitle {
  margin: 1rem 0;
  font-size: 3rem;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.projectDesc {
  font-weight: 300;
  font-size: 1rem;
}

.projectsImgs {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 65rem;
  margin-top: 3rem;
  position: relative;
  overflow: hidden;
}
.projectCard {
  box-shadow: 2px 2px 4px 0px rgba(94, 94, 94, 0.5);
  border-radius: 1rem;
  padding: 2rem;
}
.projectCard img {
  height: 100px;
  width: 100px;
}
.img-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
